@model IEnumerable<RemitanoDevTask.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DislikeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DislikeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
